<div class="row">
  
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>

  {{#if character}}
    <div>
      <h3>Current Adventure:</h3>
      <div>
        {{#if character.character_name}}
        <img src="/images/output/{{character.character_name}}.jpg" alt="Current character chosen {{character.character_name}}">
        {{/if}}
        <button class="continue" data-story="{{save}}" type="button">Continue</button>
        <button class="delete" data-character="{{character.id}}" type="button">Delete</button>
      </div>
    </div>
  {{/if}}

  <p>Just a warning if you begin a new story your current saved story will be lost</p>

  <button class="newStory" data-character="{{character.id}}" data-new="true">Begin a New Story</button>

</div>
<script src="/js/dashboard.js"></script>