<div class="flex flex-wrap flex-col relative ml-4">

    <h2 class="text-center text-base sm:text-xl md:text-2xl">Welcome, {{name}}!</h2>

  {{#if character}}
    <div>
      <h3 class="text-base sm:text-xl md:text-2xl my-3 ">Current Adventure:</h3>
      <div>
        {{#if character.character_name}}
        <img src="/images/output/{{character.character_name}}.jpg" alt="Current character chosen {{character.character_name}}">
        {{/if}}
        <button class="continue w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-2 rounded-md my-3 mr-2 bg-cyan-700" data-story="{{save}}" type="button">Continue</button>
        <button class="delete w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-2 rounded-md my-3 mx-2 bg-cyan-700" data-character="{{character.id}}" type="button">Delete</button>
      </div>
    </div>
    <p class="text-base sm:text-xl md:text-2xl mt-3">Just a warning if you begin a new story your current saved story will be lost</p>

    <button class="newStory absolute inset-x-1/3 -bottom-1/4 sm:w-1/2 md:w-1/3 xl:w-1/4 p-2 rounded-md my-3 bg-cyan-700" data-character="{{character.id}}" data-new="true">Begin a New Story</button>
  {{else}}
    <p class="text-base sm:text-xl md:text-2xl mt-80">Just a warning if you begin a new story your current saved story will be lost</p>  
    <button class="newStory absolute inset-x-1/3 -bottom-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-2 rounded-md my-3 bg-cyan-700" data-character="{{character.id}}" data-new="true">Begin a New Story</button>
  {{/if}}


</div>
<script src="/js/dashboard.js"></script>