<head>
    <link rel="stylesheet" href="./public/css/template.css">
</head>
<div class = "container">
    <div id = "text">{{story.tale}}</div>
        <div id = "option-buttons" class = "btn-grid">
        {{#each story.choices as |option| }}
            {{#if option.storyChoice.next_id}}
                <button class = "btn chosen{{@index}}" data-effect="{{option.effect}}" data-next="{{option.storyChoice.next_id}}">{{option.choice}}</button>
            {{else}}
                <button class = "btn chosen{{@index}}" data-effect="{{option.effect}}" data-next="none">{{option.choice}}</button>
            {{/if}}
        {{/each}}
    </div> 
   <img src="/images/output/vent.jpg" alt="Dog staring at sky">
</div>

<script src="/js/adventure.js"></script>