<head>
    <link rel="stylesheet" href="./public/css/template.css">
</head>
<div class = "container">
    <div id = "text">{{text}}</div>
        <div id = "option-buttons" class = "btn-grid">
         <button class = "btn">{{option1}}</button>
         <button class = "btn">{{option2}}</button>
         <button class = "btn">{{option3}}</button>
         <button class = "btn">{{option4}}</button>
    </div>